body {
    background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
    height: 100vh;
}

#label-text {
    color: #fff;
    font-size: 30px;
}

input {
    margin-top: 20px;
    width: 276px;
    border: none;
    outline: none;
    height: 40px;
}

.div-input {
    display: flex;
    flex-direction: column;
}

.div-submit {
    cursor: pointer;
    margin-top: 20px;
}

.containerEl {
    max-width: 276px;
    width: 100%;
    
    margin: 100px auto;
}

.dynamic-button {
    margin-top: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 50%;
    border: none;
    color: red;
}

.dynamic-button:hover {
    opacity: 0.8;
}

.dynamic-div {
    display: flex;
    
}

.dynamic-li {
    height: 40px;
    display: flex;
    align-items: center;
    width: 200px;
    margin-top: 20px;
    background-color: #fff;
   
}