body {
    background-color: orange;
}

input {
    margin-top: 20px;
}

button {
    cursor: pointer;
    margin-top: 20px;
}

.containerEl {
    max-width: 200px;
    width: 100%;
    
    margin: 300px auto;
}